/*
 * Copyright (c) 2020 Pete Johanson, Richard Jones
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
		zephyr,console = &pro_micro_serial;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";

		input-gpios
			= <&pro_micro_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&pro_micro_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			;
	};
};

&pro_micro_serial {
	status = "okay";
	current-speed = <115200>;
};

&pro_micro_spi {
	status = "okay";
	cs-gpios = <&pro_micro_d 10 GPIO_ACTIVE_HIGH>;

	ls0xx@0 {
		compatible = "sharp,ls0xx";
		label = "LS0XX";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <144>;
		height = <168>;
		disp-en-gpios = <&pro_micro_d 9 GPIO_ACTIVE_HIGH>;
	};
};

&pro_micro_i2c {
	status = "okay";

	oled: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "SSD1306";
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		com-invdir;
		segment-remap;
		com-sequential;
		prechargep = <0x22>;
	};
};
